openapi: 3.1.0
info:
  description: This section contains HTTP API reference docs for Bluesky and AT Protocol
    lexicons. Generate a bearer token to test API calls directly from the docs.
  title: AT Protocol XRPC API
  version: 0.0.0
servers:
- description: AT Protocol PDS XRPC server
  url: https://bsky.social/xrpc/
- description: AT Protocol AppView XRPC server
  url: https://api.bsky.app/xrpc/
tags:
- name: app.bsky.actor
- name: app.bsky.embed
- name: app.bsky.feed
- name: app.bsky.graph
- name: app.bsky.notification
- name: app.bsky.richtext
- name: app.bsky.unspecced
- name: com.atproto.admin
- name: com.atproto.identity
- name: com.atproto.label
- name: com.atproto.moderation
- name: com.atproto.repo
- name: com.atproto.server
- name: com.atproto.sync
- name: com.atproto.temp
paths:
  /app.bsky.actor.getPreferences:
    get:
      description: "Get private preferences attached to the current account. Expected\
        \ use is synchronization between multiple devices, and import/export during\
        \ account migration. Requires auth."
      operationId: app.bsky.actor.getPreferences
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.actor
  /app.bsky.actor.getProfile:
    get:
      description: "Get detailed profile view of an actor. Does not require auth,\
        \ but contains relevant metadata with auth."
      operationId: app.bsky.actor.getProfile
      parameters:
      - description: Handle or DID of account to fetch profile of.
        explode: true
        in: query
        name: actor
        required: true
        schema:
          description: Handle or DID of account to fetch profile of.
          format: at-identifier
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app.bsky.actor.defs.profileViewDetailed'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.actor
  /app.bsky.actor.getProfiles:
    get:
      description: Get detailed profile views of multiple actors.
      operationId: app.bsky.actor.getProfiles
      parameters:
      - explode: true
        in: query
        name: actors
        required: true
        schema:
          items:
            format: at-identifier
            type: string
          maxItems: 25
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getProfiles_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.actor
  /app.bsky.actor.getSuggestions:
    get:
      description: Get a list of suggested actors. Expected use is discovery of accounts
        to follow during new account onboarding.
      operationId: app.bsky.actor.getSuggestions
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getSuggestions_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.actor
  /app.bsky.actor.putPreferences:
    post:
      description: Set the private preferences attached to the account.
      operationId: app.bsky.actor.putPreferences
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/app_bsky_actor_getPreferences_200_response'
        required: true
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.actor
  /app.bsky.actor.searchActors:
    get:
      description: Find actors (profiles) matching search criteria. Does not require
        auth.
      operationId: app.bsky.actor.searchActors
      parameters:
      - description: "Search query string. Syntax, phrase, boolean, and faceting is\
          \ unspecified, but Lucene query syntax is recommended."
        explode: true
        in: query
        name: q
        required: false
        schema:
          description: "Search query string. Syntax, phrase, boolean, and faceting\
            \ is unspecified, but Lucene query syntax is recommended."
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getSuggestions_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.actor
  /app.bsky.actor.searchActorsTypeahead:
    get:
      description: Find actor suggestions for a prefix search term. Expected use is
        for auto-completion during text field entry. Does not require auth.
      operationId: app.bsky.actor.searchActorsTypeahead
      parameters:
      - description: Search query prefix; not a full query string.
        explode: true
        in: query
        name: q
        required: false
        schema:
          description: Search query prefix; not a full query string.
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_searchActorsTypeahead_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.actor
  /app.bsky.feed.getActorFeeds:
    get:
      description: Get a list of feeds (feed generator records) created by the actor
        (in the actor's repo).
      operationId: app.bsky.feed.getActorFeeds
      parameters:
      - explode: true
        in: query
        name: actor
        required: true
        schema:
          format: at-identifier
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_feed_getActorFeeds_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.feed
  /app.bsky.feed.getActorLikes:
    get:
      description: Get a list of posts liked by an actor. Does not require auth.
      operationId: app.bsky.feed.getActorLikes
      parameters:
      - explode: true
        in: query
        name: actor
        required: true
        schema:
          format: at-identifier
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_feed_getActorLikes_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_feed_getActorLikes_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.feed
  /app.bsky.feed.getAuthorFeed:
    get:
      description: Get a view of an actor's 'author feed' (post and reposts by the
        author). Does not require auth.
      operationId: app.bsky.feed.getAuthorFeed
      parameters:
      - explode: true
        in: query
        name: actor
        required: true
        schema:
          format: at-identifier
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Combinations of post/repost types to include in response.
        explode: true
        in: query
        name: filter
        required: false
        schema:
          default: posts_with_replies
          description: Combinations of post/repost types to include in response.
          enum:
          - posts_with_replies
          - posts_no_replies
          - posts_with_media
          - posts_and_author_threads
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_feed_getActorLikes_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_feed_getActorLikes_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.feed
  /app.bsky.feed.getFeed:
    get:
      description: Get a hydrated feed from an actor's selected feed generator. Implemented
        by App View.
      operationId: app.bsky.feed.getFeed
      parameters:
      - explode: true
        in: query
        name: feed
        required: true
        schema:
          format: at-uri
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_feed_getActorLikes_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_feed_getFeed_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.feed
  /app.bsky.feed.getFeedGenerator:
    get:
      description: Get information about a feed generator. Implemented by AppView.
      operationId: app.bsky.feed.getFeedGenerator
      parameters:
      - description: AT-URI of the feed generator record.
        explode: true
        in: query
        name: feed
        required: true
        schema:
          description: AT-URI of the feed generator record.
          format: at-uri
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_feed_getFeedGenerator_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.feed
  /app.bsky.feed.getFeedGenerators:
    get:
      description: Get information about a list of feed generators.
      operationId: app.bsky.feed.getFeedGenerators
      parameters:
      - explode: true
        in: query
        name: feeds
        required: true
        schema:
          items:
            format: at-uri
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_feed_getFeedGenerators_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.feed
  /app.bsky.feed.getLikes:
    get:
      description: Get like records which reference a subject (by AT-URI and CID).
      operationId: app.bsky.feed.getLikes
      parameters:
      - description: "AT-URI of the subject (eg, a post record)."
        explode: true
        in: query
        name: uri
        required: true
        schema:
          description: "AT-URI of the subject (eg, a post record)."
          format: at-uri
          type: string
        style: form
      - description: "CID of the subject record (aka, specific version of record),\
          \ to filter likes."
        explode: true
        in: query
        name: cid
        required: false
        schema:
          description: "CID of the subject record (aka, specific version of record),\
            \ to filter likes."
          format: cid
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_feed_getLikes_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.feed
  /app.bsky.feed.getListFeed:
    get:
      description: Get a feed of recent posts from a list (posts and reposts from
        any actors on the list). Does not require auth.
      operationId: app.bsky.feed.getListFeed
      parameters:
      - description: Reference (AT-URI) to the list record.
        explode: true
        in: query
        name: list
        required: true
        schema:
          description: Reference (AT-URI) to the list record.
          format: at-uri
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_feed_getActorLikes_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_feed_getListFeed_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.feed
  /app.bsky.feed.getPostThread:
    get:
      description: "Get posts in a thread. Does not require auth, but additional metadata\
        \ and filtering will be applied for authed requests."
      operationId: app.bsky.feed.getPostThread
      parameters:
      - description: Reference (AT-URI) to post record.
        explode: true
        in: query
        name: uri
        required: true
        schema:
          description: Reference (AT-URI) to post record.
          format: at-uri
          type: string
        style: form
      - description: How many levels of reply depth should be included in response.
        explode: true
        in: query
        name: depth
        required: false
        schema:
          default: 6
          maximum: 1000
          minimum: 0
          type: integer
        style: form
      - description: "How many levels of parent (and grandparent, etc) post to include."
        explode: true
        in: query
        name: parentHeight
        required: false
        schema:
          default: 80
          maximum: 1000
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_feed_getPostThread_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_feed_getPostThread_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.feed
  /app.bsky.feed.getPosts:
    get:
      description: Gets post views for a specified list of posts (by AT-URI). This
        is sometimes referred to as 'hydrating' a 'feed skeleton'.
      operationId: app.bsky.feed.getPosts
      parameters:
      - description: List of post AT-URIs to return hydrated views for.
        explode: true
        in: query
        name: uris
        required: true
        schema:
          items:
            format: at-uri
            type: string
          maxItems: 25
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_feed_getPosts_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.feed
  /app.bsky.feed.getRepostedBy:
    get:
      description: Get a list of reposts for a given post.
      operationId: app.bsky.feed.getRepostedBy
      parameters:
      - description: Reference (AT-URI) of post record
        explode: true
        in: query
        name: uri
        required: true
        schema:
          description: Reference (AT-URI) of post record
          format: at-uri
          type: string
        style: form
      - description: "If supplied, filters to reposts of specific version (by CID)\
          \ of the post record."
        explode: true
        in: query
        name: cid
        required: false
        schema:
          description: "If supplied, filters to reposts of specific version (by CID)\
            \ of the post record."
          format: cid
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_feed_getRepostedBy_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.feed
  /app.bsky.feed.getSuggestedFeeds:
    get:
      description: Get a list of suggested feeds (feed generators) for the requesting
        account.
      operationId: app.bsky.feed.getSuggestedFeeds
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_feed_getActorFeeds_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.feed
  /app.bsky.feed.getTimeline:
    get:
      description: Get a view of the requesting account's home timeline. This is expected
        to be some form of reverse-chronological feed.
      operationId: app.bsky.feed.getTimeline
      parameters:
      - description: "Variant 'algorithm' for timeline. Implementation-specific. NOTE:\
          \ most feed flexibility has been moved to feed generator mechanism."
        explode: true
        in: query
        name: algorithm
        required: false
        schema:
          description: "Variant 'algorithm' for timeline. Implementation-specific.\
            \ NOTE: most feed flexibility has been moved to feed generator mechanism."
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_feed_getActorLikes_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.feed
  /app.bsky.feed.searchPosts:
    get:
      description: "Find posts matching search criteria, returning views of those\
        \ posts."
      operationId: app.bsky.feed.searchPosts
      parameters:
      - description: "Search query string; syntax, phrase, boolean, and faceting is\
          \ unspecified, but Lucene query syntax is recommended."
        explode: true
        in: query
        name: q
        required: true
        schema:
          description: "Search query string; syntax, phrase, boolean, and faceting\
            \ is unspecified, but Lucene query syntax is recommended."
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 25
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Optional pagination mechanism; may not necessarily allow scrolling
          through entire result set.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          description: Optional pagination mechanism; may not necessarily allow scrolling
            through entire result set.
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_feed_searchPosts_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_feed_searchPosts_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.feed
  /app.bsky.graph.getBlocks:
    get:
      description: Enumerates which accounts the requesting account is currently blocking.
        Requires auth.
      operationId: app.bsky.graph.getBlocks
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_graph_getBlocks_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.graph
  /app.bsky.graph.getFollowers:
    get:
      description: Enumerates accounts which follow a specified account (actor).
      operationId: app.bsky.graph.getFollowers
      parameters:
      - explode: true
        in: query
        name: actor
        required: true
        schema:
          format: at-identifier
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_graph_getFollowers_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.graph
  /app.bsky.graph.getFollows:
    get:
      description: Enumerates accounts which a specified account (actor) follows.
      operationId: app.bsky.graph.getFollows
      parameters:
      - explode: true
        in: query
        name: actor
        required: true
        schema:
          format: at-identifier
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_graph_getFollows_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.graph
  /app.bsky.graph.getList:
    get:
      description: Gets a 'view' (with additional context) of a specified list.
      operationId: app.bsky.graph.getList
      parameters:
      - description: Reference (AT-URI) of the list record to hydrate.
        explode: true
        in: query
        name: list
        required: true
        schema:
          description: Reference (AT-URI) of the list record to hydrate.
          format: at-uri
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_graph_getList_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.graph
  /app.bsky.graph.getListBlocks:
    get:
      description: Get mod lists that the requesting account (actor) is blocking.
        Requires auth.
      operationId: app.bsky.graph.getListBlocks
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_graph_getListBlocks_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.graph
  /app.bsky.graph.getListMutes:
    get:
      description: Enumerates mod lists that the requesting account (actor) currently
        has muted. Requires auth.
      operationId: app.bsky.graph.getListMutes
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_graph_getListBlocks_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.graph
  /app.bsky.graph.getLists:
    get:
      description: Enumerates the lists created by a specified account (actor).
      operationId: app.bsky.graph.getLists
      parameters:
      - description: The account (actor) to enumerate lists from.
        explode: true
        in: query
        name: actor
        required: true
        schema:
          description: The account (actor) to enumerate lists from.
          format: at-identifier
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_graph_getListBlocks_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.graph
  /app.bsky.graph.getMutes:
    get:
      description: Enumerates accounts that the requesting account (actor) currently
        has muted. Requires auth.
      operationId: app.bsky.graph.getMutes
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_graph_getMutes_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.graph
  /app.bsky.graph.getSuggestedFollowsByActor:
    get:
      description: Enumerates follows similar to a given account (actor). Expected
        use is to recommend additional accounts immediately after following one account.
      operationId: app.bsky.graph.getSuggestedFollowsByActor
      parameters:
      - explode: true
        in: query
        name: actor
        required: true
        schema:
          format: at-identifier
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_graph_getSuggestedFollowsByActor_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.graph
  /app.bsky.graph.muteActor:
    post:
      description: Creates a mute relationship for the specified account. Mutes are
        private in Bluesky. Requires auth.
      operationId: app.bsky.graph.muteActor
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/app_bsky_graph_muteActor_request'
        required: true
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.graph
  /app.bsky.graph.muteActorList:
    post:
      description: Creates a mute relationship for the specified list of accounts.
        Mutes are private in Bluesky. Requires auth.
      operationId: app.bsky.graph.muteActorList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/app_bsky_graph_muteActorList_request'
        required: true
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.graph
  /app.bsky.graph.unmuteActor:
    post:
      description: Unmutes the specified account. Requires auth.
      operationId: app.bsky.graph.unmuteActor
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/app_bsky_graph_muteActor_request'
        required: true
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.graph
  /app.bsky.graph.unmuteActorList:
    post:
      description: Unmutes the specified list of accounts. Requires auth.
      operationId: app.bsky.graph.unmuteActorList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/app_bsky_graph_muteActorList_request'
        required: true
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.graph
  /app.bsky.notification.getUnreadCount:
    get:
      description: Count the number of unread notifications for the requesting account.
        Requires auth.
      operationId: app.bsky.notification.getUnreadCount
      parameters:
      - explode: true
        in: query
        name: seenAt
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_notification_getUnreadCount_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.notification
  /app.bsky.notification.listNotifications:
    get:
      description: Enumerate notifications for the requesting account. Requires auth.
      operationId: app.bsky.notification.listNotifications
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: seenAt
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_notification_listNotifications_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.notification
  /app.bsky.notification.registerPush:
    post:
      description: "Register to receive push notifications, via a specified service,\
        \ for the requesting account. Requires auth."
      operationId: app.bsky.notification.registerPush
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/app_bsky_notification_registerPush_request'
        required: true
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.notification
  /app.bsky.notification.updateSeen:
    post:
      description: Notify server that the requesting account has seen notifications.
        Requires auth.
      operationId: app.bsky.notification.updateSeen
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/app_bsky_notification_updateSeen_request'
        required: true
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - app.bsky.notification
  /com.atproto.admin.createCommunicationTemplate:
    post:
      description: "Administrative action to create a new, re-usable communication\
        \ (email for now) template."
      operationId: com.atproto.admin.createCommunicationTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/com_atproto_admin_createCommunicationTemplate_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.atproto.admin.defs.communicationTemplateView'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - com.atproto.admin
  /com.atproto.admin.deleteAccount:
    post:
      description: Delete a user account as an administrator.
      operationId: com.atproto.admin.deleteAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/com_atproto_admin_deleteAccount_request'
        required: true
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - com.atproto.admin
  /com.atproto.admin.deleteCommunicationTemplate:
    post:
      description: Delete a communication template.
      operationId: com.atproto.admin.deleteCommunicationTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/com_atproto_admin_deleteCommunicationTemplate_request'
        required: true
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - com.atproto.admin
  /com.atproto.admin.disableAccountInvites:
    post:
      description: "Disable an account from receiving new invite codes, but does not\
        \ invalidate existing codes."
      operationId: com.atproto.admin.disableAccountInvites
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/com_atproto_admin_disableAccountInvites_request'
        required: true
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - com.atproto.admin
  /com.atproto.admin.disableInviteCodes:
    post:
      description: Disable some set of codes and/or all codes associated with a set
        of users.
      operationId: com.atproto.admin.disableInviteCodes
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/com_atproto_admin_disableInviteCodes_request'
        required: true
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - com.atproto.admin
  /com.atproto.admin.emitModerationEvent:
    post:
      description: Take a moderation action on an actor.
      operationId: com.atproto.admin.emitModerationEvent
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/com_atproto_admin_emitModerationEvent_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.atproto.admin.defs.modEventView'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com_atproto_admin_emitModerationEvent_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - com.atproto.admin
  /com.atproto.admin.enableAccountInvites:
    post:
      description: Re-enable an account's ability to receive invite codes.
      operationId: com.atproto.admin.enableAccountInvites
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/com_atproto_admin_enableAccountInvites_request'
        required: true
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - com.atproto.admin
  /com.atproto.admin.getAccountInfo:
    get:
      description: Get details about an account.
      operationId: com.atproto.admin.getAccountInfo
      parameters:
      - explode: true
        in: query
        name: did
        required: true
        schema:
          format: did
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.atproto.admin.defs.accountView'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - com.atproto.admin
  /com.atproto.admin.getInviteCodes:
    get:
      description: Get an admin view of invite codes.
      operationId: com.atproto.admin.getInviteCodes
      parameters:
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          default: recent
          enum:
          - recent
          - usage
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com_atproto_admin_getInviteCodes_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - com.atproto.admin
  /com.atproto.admin.getModerationEvent:
    get:
      description: Get details about a moderation event.
      operationId: com.atproto.admin.getModerationEvent
      parameters:
      - explode: true
        in: query
        name: id
        required: true
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.atproto.admin.defs.modEventViewDetail'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - com.atproto.admin
  /com.atproto.admin.getRecord:
    get:
      description: Get details about a record.
      operationId: com.atproto.admin.getRecord
      parameters:
      - explode: true
        in: query
        name: uri
        required: true
        schema:
          format: at-uri
          type: string
        style: form
      - explode: true
        in: query
        name: cid
        required: false
        schema:
          format: cid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.atproto.admin.defs.recordViewDetail'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com_atproto_admin_getRecord_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - com.atproto.admin
  /com.atproto.admin.getRepo:
    get:
      description: Get details about a repository.
      operationId: com.atproto.admin.getRepo
      parameters:
      - explode: true
        in: query
        name: did
        required: true
        schema:
          format: did
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.atproto.admin.defs.repoViewDetail'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com_atproto_admin_getRepo_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - com.atproto.admin
  /com.atproto.admin.getSubjectStatus:
    get:
      description: "Get the service-specific admin status of a subject (account, record,\
        \ or blob)."
      operationId: com.atproto.admin.getSubjectStatus
      parameters:
      - explode: true
        in: query
        name: did
        required: false
        schema:
          format: did
          type: string
        style: form
      - explode: true
        in: query
        name: uri
        required: false
        schema:
          format: at-uri
          type: string
        style: form
      - explode: true
        in: query
        name: blob
        required: false
        schema:
          format: cid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com_atproto_admin_getSubjectStatus_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - com.atproto.admin
  /com.atproto.admin.listCommunicationTemplates:
    get:
      description: Get list of all communication templates.
      operationId: com.atproto.admin.listCommunicationTemplates
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com_atproto_admin_listCommunicationTemplates_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - com.atproto.admin
  /com.atproto.admin.queryModerationEvents:
    get:
      description: List moderation events related to a subject.
      operationId: com.atproto.admin.queryModerationEvents
      parameters:
      - description: "The types of events (fully qualified string in the format of\
          \ com.atproto.admin#modEvent<name>) to filter by. If not specified, all\
          \ events are returned."
        explode: true
        in: query
        name: types
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: createdBy
        required: false
        schema:
          format: did
          type: string
        style: form
      - description: Sort direction for the events. Defaults to descending order of
          created at timestamp.
        explode: true
        in: query
        name: sortDirection
        required: false
        schema:
          default: desc
          description: Sort direction for the events. Defaults to descending order
            of created at timestamp.
          type: string
        style: form
      - description: Retrieve events created after a given timestamp
        explode: true
        in: query
        name: createdAfter
        required: false
        schema:
          description: Retrieve events created after a given timestamp
          format: date-time
          type: string
        style: form
      - description: Retrieve events created before a given timestamp
        explode: true
        in: query
        name: createdBefore
        required: false
        schema:
          description: Retrieve events created before a given timestamp
          format: date-time
          type: string
        style: form
      - explode: true
        in: query
        name: subject
        required: false
        schema:
          format: uri
          type: string
        style: form
      - description: "If true, events on all record types (posts, lists, profile etc.)\
          \ owned by the did are returned"
        explode: true
        in: query
        name: includeAllUserRecords
        required: false
        schema:
          description: "If true, events on all record types (posts, lists, profile\
            \ etc.) owned by the did are returned"
          type: boolean
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: "If true, only events with comments are returned"
        explode: true
        in: query
        name: hasComment
        required: false
        schema:
          description: "If true, only events with comments are returned"
          type: boolean
        style: form
      - description: "If specified, only events with comments containing the keyword\
          \ are returned"
        explode: true
        in: query
        name: comment
        required: false
        schema:
          description: "If specified, only events with comments containing the keyword\
            \ are returned"
          type: string
        style: form
      - description: "If specified, only events where all of these labels were added\
          \ are returned"
        explode: true
        in: query
        name: addedLabels
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "If specified, only events where all of these labels were removed\
          \ are returned"
        explode: true
        in: query
        name: removedLabels
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "If specified, only events where all of these tags were added\
          \ are returned"
        explode: true
        in: query
        name: addedTags
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "If specified, only events where all of these tags were removed\
          \ are returned"
        explode: true
        in: query
        name: removedTags
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: reportTypes
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com_atproto_admin_queryModerationEvents_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - com.atproto.admin
  /com.atproto.admin.queryModerationStatuses:
    get:
      description: View moderation statuses of subjects (record or repo).
      operationId: com.atproto.admin.queryModerationStatuses
      parameters:
      - explode: true
        in: query
        name: subject
        required: false
        schema:
          format: uri
          type: string
        style: form
      - description: Search subjects by keyword from comments
        explode: true
        in: query
        name: comment
        required: false
        schema:
          description: Search subjects by keyword from comments
          type: string
        style: form
      - description: Search subjects reported after a given timestamp
        explode: true
        in: query
        name: reportedAfter
        required: false
        schema:
          description: Search subjects reported after a given timestamp
          format: date-time
          type: string
        style: form
      - description: Search subjects reported before a given timestamp
        explode: true
        in: query
        name: reportedBefore
        required: false
        schema:
          description: Search subjects reported before a given timestamp
          format: date-time
          type: string
        style: form
      - description: Search subjects reviewed after a given timestamp
        explode: true
        in: query
        name: reviewedAfter
        required: false
        schema:
          description: Search subjects reviewed after a given timestamp
          format: date-time
          type: string
        style: form
      - description: Search subjects reviewed before a given timestamp
        explode: true
        in: query
        name: reviewedBefore
        required: false
        schema:
          description: Search subjects reviewed before a given timestamp
          format: date-time
          type: string
        style: form
      - description: "By default, we don't include muted subjects in the results.\
          \ Set this to true to include them."
        explode: true
        in: query
        name: includeMuted
        required: false
        schema:
          description: "By default, we don't include muted subjects in the results.\
            \ Set this to true to include them."
          type: boolean
        style: form
      - description: Specify when fetching subjects in a certain state
        explode: true
        in: query
        name: reviewState
        required: false
        schema:
          description: Specify when fetching subjects in a certain state
          type: string
        style: form
      - explode: true
        in: query
        name: ignoreSubjects
        required: false
        schema:
          items:
            format: uri
            type: string
          type: array
        style: form
      - description: Get all subject statuses that were reviewed by a specific moderator
        explode: true
        in: query
        name: lastReviewedBy
        required: false
        schema:
          description: Get all subject statuses that were reviewed by a specific moderator
          format: did
          type: string
        style: form
      - explode: true
        in: query
        name: sortField
        required: false
        schema:
          default: lastReportedAt
          type: string
        style: form
      - explode: true
        in: query
        name: sortDirection
        required: false
        schema:
          default: desc
          type: string
        style: form
      - description: Get subjects that were taken down
        explode: true
        in: query
        name: takendown
        required: false
        schema:
          description: Get subjects that were taken down
          type: boolean
        style: form
      - description: Get subjects in unresolved appealed status
        explode: true
        in: query
        name: appealed
        required: false
        schema:
          description: Get subjects in unresolved appealed status
          type: boolean
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: tags
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: excludeTags
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com_atproto_admin_queryModerationStatuses_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - com.atproto.admin
  /com.atproto.admin.searchRepos:
    get:
      description: Find repositories based on a search term.
      operationId: com.atproto.admin.searchRepos
      parameters:
      - explode: true
        in: query
        name: q
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com_atproto_admin_searchRepos_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - com.atproto.admin
  /com.atproto.admin.sendEmail:
    post:
      description: Send email to a user's account email address.
      operationId: com.atproto.admin.sendEmail
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/com_atproto_admin_sendEmail_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com_atproto_admin_sendEmail_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - com.atproto.admin
  /com.atproto.admin.updateAccountEmail:
    post:
      description: Administrative action to update an account's email.
      operationId: com.atproto.admin.updateAccountEmail
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/com_atproto_admin_updateAccountEmail_request'
        required: true
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - com.atproto.admin
  /com.atproto.admin.updateAccountHandle:
    post:
      description: Administrative action to update an account's handle.
      operationId: com.atproto.admin.updateAccountHandle
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/com_atproto_admin_updateAccountHandle_request'
        required: true
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - com.atproto.admin
  /com.atproto.admin.updateAccountPassword:
    post:
      description: Update the password for a user account as an administrator.
      operationId: com.atproto.admin.updateAccountPassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/com_atproto_admin_updateAccountPassword_request'
        required: true
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com_atproto_admin_updateAccountPassword_400_response'
          description: Bad Request
      tags:
      - com.atproto.admin
  /com.atproto.admin.updateCommunicationTemplate:
    post:
      description: Administrative action to update an existing communication template.
        Allows passing partial fields to patch specific fields only.
      operationId: com.atproto.admin.updateCommunicationTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/com_atproto_admin_updateCommunicationTemplate_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com.atproto.admin.defs.communicationTemplateView'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - com.atproto.admin
  /com.atproto.admin.updateSubjectStatus:
    post:
      description: "Update the service-specific admin status of a subject (account,\
        \ record, or blob)."
      operationId: com.atproto.admin.updateSubjectStatus
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/com_atproto_admin_getSubjectStatus_200_response'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com_atproto_admin_getSubjectStatus_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - com.atproto.admin
  /com.atproto.identity.getRecommendedDidCredentials:
    get:
      description: Describe the credentials that should be included in the DID doc
        of an account that is migrating to this service.
      operationId: com.atproto.identity.getRecommendedDidCredentials
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com_atproto_identity_getRecommendedDidCredentials_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com_atproto_admin_updateAccountPassword_400_response'
          description: Bad Request
      tags:
      - com.atproto.identity
  /com.atproto.identity.requestPlcOperationSignature:
    post:
      description: Request an email with a code to in order to request a signed PLC
        operation. Requires Auth.
      operationId: com.atproto.identity.requestPlcOperationSignature
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - com.atproto.identity
  /com.atproto.identity.resolveHandle:
    get:
      description: Resolves a handle (domain name) to a DID.
      operationId: com.atproto.identity.resolveHandle
      parameters:
      - description: The handle to resolve.
        explode: true
        in: query
        name: handle
        required: true
        schema:
          description: The handle to resolve.
          format: handle
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com_atproto_admin_deleteAccount_request'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com_atproto_admin_updateAccountPassword_400_response'
          description: Bad Request
      tags:
      - com.atproto.identity
  /com.atproto.identity.signPlcOperation:
    post:
      description: Signs a PLC operation to update some value(s) in the requesting
        DID's document.
      operationId: com.atproto.identity.signPlcOperation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/com_atproto_identity_signPlcOperation_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com_atproto_identity_signPlcOperation_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - com.atproto.identity
  /com.atproto.identity.submitPlcOperation:
    post:
      description: "Validates a PLC operation to ensure that it doesn't violate a\
        \ service's constraints or get the identity into a bad state, then submits\
        \ it to the PLC registry"
      operationId: com.atproto.identity.submitPlcOperation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/com_atproto_identity_signPlcOperation_200_response'
        required: true
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com_atproto_admin_updateAccountPassword_400_response'
          description: Bad Request
      tags:
      - com.atproto.identity
  /com.atproto.identity.updateHandle:
    post:
      description: "Updates the current account's handle. Verifies handle validity,\
        \ and updates did:plc document if necessary. Implemented by PDS, and requires\
        \ auth."
      operationId: com.atproto.identity.updateHandle
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/com_atproto_identity_updateHandle_request'
        required: true
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - com.atproto.identity
  /com.atproto.moderation.createReport:
    post:
      description: "Submit a moderation report regarding an atproto account or record.\
        \ Implemented by moderation services (with PDS proxying), and requires auth."
      operationId: com.atproto.moderation.createReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/com_atproto_moderation_createReport_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com_atproto_moderation_createReport_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - com.atproto.moderation
  /com.atproto.repo.applyWrites:
    post:
      description: "Apply a batch transaction of repository creates, updates, and\
        \ deletes. Requires auth, implemented by PDS."
      operationId: com.atproto.repo.applyWrites
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/com_atproto_repo_applyWrites_request'
        required: true
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com_atproto_repo_applyWrites_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - com.atproto.repo
  /com.atproto.repo.createRecord:
    post:
      description: "Create a single new repository record. Requires auth, implemented\
        \ by PDS."
      operationId: com.atproto.repo.createRecord
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/com_atproto_repo_createRecord_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com_atproto_repo_createRecord_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com_atproto_repo_applyWrites_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - com.atproto.repo
  /com.atproto.repo.deleteRecord:
    post:
      description: "Delete a repository record, or ensure it doesn't exist. Requires\
        \ auth, implemented by PDS."
      operationId: com.atproto.repo.deleteRecord
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/com_atproto_repo_deleteRecord_request'
        required: true
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com_atproto_repo_applyWrites_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app_bsky_actor_getPreferences_401_response'
          description: Unauthorized
      security:
      - Bearer: []
      tags:
      - com.atproto.repo
  /com.atproto.repo.describeRepo:
    get:
      description: "Get information about an account and repository, including the\
        \ list of collections. Does not require auth."
      operationId: com.atproto.repo.describeRepo
      parameters:
      - description: The handle or DID of the repo.
        explode: true
        in: query
        name: repo
        required: true
        schema:
          description: The handle or DID of the repo.
          format: at-identifier
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com_atproto_repo_describeRepo_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com_atproto_admin_updateAccountPassword_400_response'
          description: Bad Request
      tags:
      - com.atproto.repo
  /com.atproto.repo.getRecord:
    get:
      description: Get a single record from a repository. Does not require auth.
      operationId: com.atproto.repo.getRecord
      parameters:
      - description: The handle or DID of the repo.
        explode: true
        in: query
        name: repo
        required: true
        schema:
          description: The handle or DID of the repo.
          format: at-identifier
          type: string
        style: form
      - description: The NSID of the record collection.
        explode: true
        in: query
        name: collection
        required: true
        schema:
          description: The NSID of the record collection.
          format: nsid
          type: string
        style: form
      - description: The Record Key.
        explode: true
        in: query
        name: rkey
        required: true
        schema:
          description: The Record Key.
          type: string
        style: form
      - description: "The CID of the version of the record. If not specified, then\
          \ return the most recent version."
        explode: true
        in: query
        name: cid
        required: false
        schema:
          description: "The CID of the version of the record. If not specified, then\
            \ return the most recent version."
          format: cid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com_atproto_repo_getRecord_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com_atproto_admin_updateAccountPassword_400_response'
          description: Bad Request
      tags:
      - com.atproto.repo
  /com.atproto.repo.importRepo:
    post:
      description: Import a repo in the form of a CAR file. Requires Content-Length
        HTTP header to be set.
      operationId: com.atproto.repo.importRepo
      requestBody:
        content:
          application/vnd.ipld.car: {}
        required: true
      responses:
        "200":
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com_atproto_admin_updateAccountPassword_400_response'
          description: Bad Request
      tags:
      - com.atproto.repo
  /com.atproto.repo.listMissingBlobs:
    get:
      description: Returns a list of missing blobs for the requesting account. Intended
        to be used in the account migration flow.
      operationId: com.atproto.repo.listMissingBlobs
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 500
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com_atproto_repo_listMissingBlobs_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/com_atproto_admin_updateAccountPassword_400_response'
          description: Bad Request
      tags:
      - com.atproto.repo
  /com.atproto.repo.listRecords:
    get:
      description: "List a range of records in a repository, matching a specific collection.\
        \ Does not require auth."
      operationId: com.atproto.repo.listRecords
      parameters:
      - description: The handle or DID of the repo.
[...]
